.cake__decor {
  position: absolute;
  background-color: #e29191;
  top: 25px;
  border-radius: 999px;
  width: 10px;
}

.decor-1 {
  left: 0;
  height: 120px;
}
.decor-2 {
  left: 60px;
  height: 100px;
}
.decor-3 {
  left: 120px;
  height: 140px;
}
.decor-4 {
  left: 180px;
  height: 115px;
}
.decor-5 {
  left: 230px;
  height: 125px;
}
.decor-6 {
  left: 290px;
  height: 100px;
}

.decor-circle-1 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 25px;
  left: 10px;
  background: pink;
}

.decor-circle-2 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 28px;
  left: 70px;
  background: pink;
}

.decor-circle-3 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 22px;
  left: 130px;
  background: pink;
}

.decor-circle-4 {
  width: 40px;
  height: 50px;
  border-radius: 50%;
  top: 28px;
  left: 190px;
  background: pink;
}

.decor-circle-5 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 22px;
  left: 240px;
  background: pink;
}

.decor-circle-6 {
  width: 20px;
  height: 50px;
  border-radius: 50%;
  top: 28px;
  left: 300px;
  background: pink;
}

.seed-decor {
  position: absolute;
  width: 12px;
  height: 2px;
}

.seed-decor-1 {
  background: blue;
  top: 120px;
  left: 30px;
  rotate: 45deg;
}

.seed-decor-2 {
  background: yellow;
  top: 160px;
  left: 50px;
  rotate: 245deg;
}
.seed-decor-3 {
  background: green;
  top: 160px;
  left: 140px;
  rotate: 145deg;
}
.seed-decor-4 {
  background: orange;
  top: 160px;
  left: 30px;
  rotate: 95deg;
}
.seed-decor-5 {
  background: chocolate;
  top: 160px;
  left: 230px;
  rotate: 15deg;
}
.seed-decor-6 {
  background: red;
  top: 100px;
  left: 135px;
  rotate: 75deg;
}
.seed-decor-7 {
  background: blue;
  top: 50px;
  left: 80px;
  rotate: 45deg;
}

.seed-decor-8 {
  background: yellow;
  top: 60px;
  left: 150px;
  rotate: 245deg;
}
.seed-decor-9 {
  background: green;
  top: 60px;
  left: 200px;
  rotate: 145deg;
}
.seed-decor-10 {
  background: orange;
  top: 70px;
  left: 250px;
  rotate: 95deg;
}
.seed-decor-11 {
  background: chocolate;
  top: 120px;
  left: 250px;
  rotate: 15deg;
}
.seed-decor-6 {
  background: red;
  top: 180px;
  left: 285px;
  rotate: 75deg;
}
